.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.Header-title {
    font-size: x-large;
}

.Header ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
}

.Container {
    min-width: 80vw;
    max-width: 800px;
}